# 数据抽取题目

1. 有以下DataFrame,请抽取name和gender两列:

| name | age | gender |  
|-|-|-|  
| 张三 | 25 | 男 |
| 李四 | 26 | 女 |
| 王五 | 24 | 男 |

2. 有以下DataFrame,请抽取class为2班和3班的所有数据:

| name | class | gender |
|-|-|-|
| 张三 | 1班 | 男 |  
| 李四 | 2班 | 女 |
| 王五 | 3班 | 男 |

3. 有以下DataFrame,请抽取数学成绩低于95分的所有行:

| name | math |
|-|-|
| 张三 | 96 |
| 李四 | 90 |
| 王五 | 91 |

4. 有以下DataFrame,请抽取第2列和第3列的数据:

| A | B | C |
|-|-|-|
| 1 | 2 | 3 |
| 4 | 5 | 6 | 
| 7 | 8 | 9 |

5. 有以下DataFrame,请抽取王五和李四两行name和english两列的数据:

| name | english | math | 
|-|-|-|
| 张三 | 80 | 78 |
| 李四 | 75 | 92 |
| 王五 | 81 | 84 |

In [2]:
import pandas as pd

data_1 = {'name': ['张三', '李四', '王五'],
          'age': [25, 26, 24],
          'gender': ['男', '女', '男']}
df_1 = pd.DataFrame(data_1)

result_1 = df_1[['name', 'gender']]
print(result_1)

data_2 = {'name': ['张三', '李四', '王五'],
          'class': ['1班', '2班', '3班'],
          'gender': ['男', '女', '男']}
df_2 = pd.DataFrame(data_2)

result_2 = df_2[df_2['class'].isin(['2班', '3班'])]
print(result_2)

data_3 = {'name': ['张三', '李四', '王五'],
          'math': [96, 90, 91]}
df_3 = pd.DataFrame(data_3)

result_3 = df_3[df_3['math'] < 95]
print(result_3)

data_4 = {'A': [1, 4, 7],
          'B': [2, 5, 8],
          'C': [3, 6, 9]}
df_4 = pd.DataFrame(data_4)

result_4 = df_4.iloc[:, 1:3]
print(result_4)

data_5 = {'name': ['张三', '李四', '王五'],
          'english': [80, 75, 81],
          'math': [78, 92, 84]}
df_5 = pd.DataFrame(data_5)

result_5 = df_5.loc[df_5['name'].isin(['王五', '李四']), ['name', 'english']]
print(result_5)

  name gender
0   张三      男
1   李四      女
2   王五      男
  name class gender
1   李四    2班      女
2   王五    3班      男
  name  math
1   李四    90
2   王五    91
   B  C
0  2  3
1  5  6
2  8  9
  name  english
1   李四       75
2   王五       81