# 数据增删改题目

6. 有以下DataFrame,请添加一列gender,值分别为['男','女','男']:

| name | age | 
|-|-|
| 张三 | 25 |
| 李四 | 26 |  
| 王五 | 24 |

7. 有以下DataFrame,请删除name这一列:

| name | age | gender |
|-|-|-| 
| 张三 | 25 | 男 |
| 李四 | 26 | 女 |
| 王五 | 24 | 男 |

8. 有以下DataFrame,请将score的所有值加10:

| name | score | 
|-|-|
| 张三 | 80 |
| 李四 | 75 |
| 王五 | 81 |

9. 有以下DataFrame,请将english这一列名称修改为en:

| name | english | math |
|-|-|-|  
| 张三 | 80 | 78 |
| 李四 | 75 | 92 |
| 王五 | 81 | 84 |

10. 有以下DataFrame,请增加一行数据,name为赵六,english为85,math为90:

| name | english | math |
|-|-|-|
| 张三 | 80 | 78 |  
| 李四 | 75 | 92 |
| 王五 | 81 | 84 |

In [2]:
import pandas as pd

data6 = {'name': ['张三', '李四', '王五'],
         'age': [25, 26, 24]}
df6 = pd.DataFrame(data6)
df6['gender'] = ['男', '女', '男']
print(df6)

data7 = {'name': ['张三', '李四', '王五'],
         'age': [25, 26, 24],
         'gender': ['男', '女', '男']}
df7 = pd.DataFrame(data7)
df7 = df7.drop('name', axis=1)
print(df7)

data8 = {'name': ['张三', '李四', '王五'],
         'score': [80, 75, 81]}
df8 = pd.DataFrame(data8)
df8['score'] = df8['score'] + 10
print(df8)

data9 = {'name': ['张三', '李四', '王五'],
         'english': [80, 75, 81],
         'math': [78, 92, 84]}
df9 = pd.DataFrame(data9)
df9 = df9.rename(columns={'english': 'en'})
print(df9)

data10 = {'name': ['张三', '李四', '王五'],
          'english': [80, 75, 81],
          'math': [78, 92, 84]}
df10 = pd.DataFrame(data10)
new_row = pd.DataFrame({'name': ['赵六'], 'english': [85], 'math': [90]})
df10 = pd.concat([df10, new_row], ignore_index=True)
print(df10)

  name  age gender
0   张三   25      男
1   李四   26      女
2   王五   24      男
   age gender
0   25      男
1   26      女
2   24      男
  name  score
0   张三     90
1   李四     85
2   王五     91
  name  en  math
0   张三  80    78
1   李四  75    92
2   王五  81    84
  name  english  math
0   张三       80    78
1   李四       75    92
2   王五       81    84
3   赵六       85    90